.buttons__button {
    background-color: white;
    border: none;
    color: rgb(9, 114, 133);
    transition: color 1s;
}

.button--markAllDoneButtons:hover {
    color: rgb(18, 201, 233);
}
.button--markAllDoneButtons:active {
    border: 2px solid rgb(0, 0, 0);
}

.button--markAllDoneButtons:disabled {
    color: gray;
}

.button--toggleHideDoneButtons:hover {
    color: rgb(18, 201, 233);
}
.button--toggleHideDoneButtons:active {
    border: 2px solid rgb(0, 0, 0);
}
@media(max-width: 767px) {
    
    .buttons__button {
       align-content: center;
       width: 100%;
       margin: 10px;
    }
    
}
