.form__fieldsetTask {
    margin-bottom: 1px;
    border: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    max-width: 800px;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex__item--remove {
   order: 1;
   margin-left: auto;
}
.list__button--remove {
    padding: 10px;
    background-color: rgb(240, 40, 80);
    border: rgb(240, 40, 80);
    margin-right: 20px;
}
.list__item {
    list-style: none;
    text-decoration: none;
}
.list__item--done {
    text-decoration: line-through;
}
.emoji:before {
    content: '\2713';
    color: rgb(255, 255, 255);
}

.list__button--remove:before {
    content: '\01F5D1';
    color: rgb(255, 255, 255);
}
.list__button--done {
    padding: 15px;
    background-color: rgb(0, 100, 0);
    border: rgb(0, 100, 0);
    margin-left: -20px;
}
.list__newTask {
    margin: auto 30px;
    word-break: break-word;
}
