
.list__item {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
.list__button--remove {
    margin-right: 20px;
    padding: 8px;
    background-color: rgb(240, 40, 80);
    border: rgb(240, 40, 80);
}
.list__button--remove:before {
    content: '🗑';
    color: rgb(255, 255, 255);
}
.list__item--done {
    text-decoration: line-through;
}
.emoji:before {
    content: '✔';
    color: rgb(255, 255, 255);
}

.list__button--done {
    min-width: 30px;
    min-height: 30px;
    background-color: rgb(0, 100, 0);
    border: rgb(0, 100, 0);
}
.list__newTask {
    margin-left: 20px;
    margin-right: 20px;
    word-break: break-word;
}

@media (max-width: 767px) {
    .list__item {
        width: 100%
    }
}
